::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}
html[dir] .dark ::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, 0.16);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}
html[dir] .dark ::-webkit-scrollbar-track {
  background-color: initial;
}
::-webkit-scrollbar-track {
  background: hsla(0, 0%, 100%, 0.1);
}
